.App {
  font-family: sans-serif;
  text-align: center;
}

.heading{
color: orangered;
text-align: center;
font-size: 4vw
}


.heading1{
  
  margin-left: 15%;
  font-weight: bold;
  border: none;
  padding: 15px 15px;
    background-color: orangered;

  
  }

@media(max-width:768px){

  .heading1{
    margin-left: 4.7%;
    color: black;
    padding: 15px 0;
    background-color: orangered;
    border: none;
  }

  .col-lg-7{
    border-right: none !important;
    }
  .sec{
    height: 70vh !important;
  }
}

.icon{
  color: orange;
  font-weight: bold;
}

.col-lg-7{
border-right: 2px solid grey;
}

.Copy{
color: orangered;
font-weight: bold;
background-color: black;
text-align: center;
padding: 10px 0px;
}